
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}


<div class="col-8">
    <h1>Welcome to</h1>
    <h1>Online Real Eastate Agency</h1>
    <br />
    <br />
    <p>Please register the seller first, and then you can publish the real estate information.</p>
    <br />
    <p>Please contact us if you have any questions.</p>
    <p>qiang.z@outlook.com</p>
    <br/>
</div>

<div class="col-4">
    <p> <image src="~/Content/logo.png"></image></p>
</div>